{% extends 'base.html.twig' %}

{% block title %}

    Modificar Contraseña
{% endblock %}

{% block body %}


    <div class="container form">
        <h2>Modificar Contraseña</h2>
        
        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}







    </div>
{% endblock %}

