{% extends 'base.html.twig' %}

{% block title %}LISTADO DE USUARIOS{% endblock %}

{% block body %}


<div class="container table table-sm table-responsive">
   
    <h1>LISTADO DE USUARIOS </h1>
    
    {{ include('includes/usuarios-list.html.twig') }}
    

    
</div>
{% endblock %}


