{% extends 'base.html.twig' %}

{% block title %}

    crear negocio
{% endblock %}

{% block body %}


    <div class="container">
        <h2>
           crear negocio
        </h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}

