{% extends 'base.html.twig' %}

{% block title %}LISTADO DE NEGOCIOS{% endblock %}

{% block body %}


<div class="container table table-sm table-responsive">
    <h1>LISTADO DE NEGOCIOS </h1>
    
    
    {{ include('includes/negocios-list.html.twig') }}
    

    
</div>
{% endblock %}


