{% extends 'base.html.twig' %}

{% block title %}LISTADO DE TIQUETS{% endblock %}

{% block body %}


<div class="container table table-sm table-responsive-sm">
    <br/>
    <h1 class="display-4">LISTADO DE TIQUES </h1>
    
    
    {{ include('includes/tiquetslist.html.twig') }}
    

    
</div>
{% endblock %}


