{% extends 'base.html.twig' %}

{% block title %}MIS TIQUETS{% endblock %}

{% block body %}


<div class="container  col-sm-4">
    <h1 class="display-4">MIS TIQUES </h1>
    <br/>
    {{ include('includes/tiquetsUsers.html.twig') }}
    

    
</div>
{% endblock %}


